<section class="about-prof" style="background-image: url('img/about-prof-bg.jpg')">
  <div class="container">
    <div class="about-prof__wrapper">
      <img class="about-prof__img" src="img/about-prof.png" alt="img" />

      <div class="about-prof__right">
        <h1 class="about-prof__title section-title">
          Объединяем профессионалов и любителей
        </h1>

        <div class="about-prof__text">
          <p>
            Ежедневно база фотобанка увеличивается на тысячи фотографий разных
            жанров и тем. Основное отличие нашего фотобанка от подобных сервисов
            заключается в том, что мы предлагаем возможность многопланового
            лицензирования.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
