<section
  class="about-join"
  style="background-image: url('img/about-join-bg.jpg')"
>
  <div class="container">
    <div class="about-join__wrapper">
      <h1 class="about-join__title section-title">
        Присоединяйтесь к миллионам <br />
        создателей по всему миру
      </h1>

      <div class="about-join__text">
        <p>Одна подписка — неограниченные возможности</p>
      </div>

      <button class="about-join__btn btn" type="button">Попробовать бесплатно </button>
    </div>
  </div>
</section>
