<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <h1 class="about__title section-title">О сервисе</h1>

      <div class="about__text">
        <p>
          Каждый режиссер должен иметь доступ к невероятной музыке. Вот Почему
          Мы Ищем Лучших Музыкантов По Всему Миру, А Затем Превращаем Их Музыку
          В Мощную Платформу, Где Кинематографисты Всегда Могут Найти Что-То
          Вдохновляющее, Вызывающее Воспоминания Или Волнующее, Чтобы
          Подчеркнуть Свою Работу.Вот почему мы ищем лучших музыкантов по всему
          миру, а затем превращаем их музыку в мощную платформу, где
          кинематографисты всегда могут найти что-то вдохновляющее, вызывающее
          воспоминания или волнующее, чтобы подчеркнуть свою работу. Мы Не
          Фабрика Джинглов,
        </p>
        <p>
          А Сообщество Артистов, Которые Вкладывают Сердце И Душу В Нашу Музыку,
          Точно Так Же, Как Вы Вкладываете Душу В Свои Видеоролики.Мы не фабрика
          джинглов, а сообщество артистов, которые вкладывают сердце и душу в
          нашу музыку, точно так же, как вы вкладываете душу в свои видеоролики.
        </p>
      </div>

      <button class="about__btn btn" type="button">
        Попробовать бесплатно
      </button>
    </div>
  </div>
</section>
