<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <h1 class="about__title section-title">О сервисе</h1>

      <div class="about__text">
        <p>
          Каждый режиссер должен иметь доступ к невероятной музыке. Вот почему
          мы ищем лучших музыкантов по всему миру, а затем превращаем их музыку
          в мощную платформу, где кинематографисты всегда могут найти что-то
          вдохновляющее, вызывающее воспоминания или трогательное, чтобы
          подчеркнуть свою работу. Мы не фабрика джинглов, а сообщество
          артистов, которые вкладывают сердце и душу в нашу музыку, точно так
          же, как вы вкладываете душу в свои видеопродукции.
        </p>
      </div>
    </div>
  </div>
</section>
