<section class="about-section">
  <div class="container">
    <div class="about-section__wrapper">
      <div class="about-section__left">
        <h2 class="about-section__title section-title">
          Объединяем профессионалов <br />
          и любителей
        </h2>
        <p class="about-section__text">
          Ежедневно база фотобанка увеличивается на тысячи фотографий разных
          жанров и тем. Основное отличие нашего фотобанка от подобных сервисов
          заключается в том, что мы предлагаем возможность многопланового
          лицензирования.
        </p>
        <button class="about-section__btn btn" type="button">
          Попробовать бесплатно
        </button>
      </div>
      <img
        class="about-section__img"
        src="img/about-section-img.jpg"
        alt="img"
      />
    </div>
  </div>
</section>
