<section class="account">
  <h1 class="account__title">Профиль</h1>

  <form class="account__form form-account">
    <div class="form-account__group">
      <label class="form-account__label" for="account-name">Имя</label>
      <input class="form-account__input" type="text" value="Roman" readonly />
    </div>
    <div class="form-account__group">
      <label class="form-account__label" for="account-email">E-mail </label>
      <input
        class="form-account__input"
        id="account-email"
        type="email"
        value="romickvesely@gmail.com"
        readonly
      />
    </div>
    <div class="form-account__group">
      <label class="form-account__label" for="account-country">Страна </label>
      <input
        class="form-account__input"
        id="account-country"
        type="text"
        value="Грузия"
        readonly
      />
    </div>
    <div class="form-account__group">
      <label class="form-account__label" for="account-pas">Пароль </label>
      <input
        class="form-account__input"
        id="accoutn-pas"
        type="password"
        value=""
        readonly
      />
    </div>
    <button class="form-account__btn btn btn--border" type="submit">
      Изменить аккаунт
    </button>
  </form>
</section>
