<section class="author">
  <div class="container">
    <div class="author__top">
      <h1 class="author__title section-title">Стать автором</h1>
      <p class="author__text">
        Чтобы стать автором на нашем сервисе, нам необходимо убедиться
      </p>
    </div>

    <ul class="author__list">
      <li class="author-item">
        <img src="img/check-big.png" alt="img" />
        <p class="author-item__text">
          У вас есть 100% прав на видео, фото или музыку
        </p>
      </li>
      <li class="author-item">
        <img src="img/check-big.png" alt="img" />
        <p class="author-item__text">Ваши работы могут быть лицензированы для использования где угодно</p>
      </li>
      <li class="author-item">
        <img src="img/check-big.png" alt="img" />
        <p class="author-item__text">Ваш EPK дополнен высококачественной музыкой, фото или видео</p>
      </li>
    </ul>
  </div>
</section>
