<section class="card">
  <div class="container">
    <div class="card__wrapper">
      <div class="card__left">
        <div class="card__img">
          <picture>
            <source srcset="img/card-img.webp" type="image/webp" />
            <img src="img/card-img.jpg" alt="img" />
          </picture>
        </div>
        <div class="card__tags">
          <div class="tags">
            <span class="tags__name">Теги</span>
            <ul class="tags__list">
              <li class="tags__item">
                <a class="tags__tag" href="#">Йога дома</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Бизнес встреча</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Смартфон в руĸе</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Семья</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Природа</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Спорт ворĸаут</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Йога дома</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Бизнес встреча</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Смартфон в руĸе</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Семья</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Природа</a>
              </li>
              <li class="tags__item">
                <a class="tags__tag" href="#">Спорт ворĸаут</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card__right">
        <h1 class="card__title section-title">
          Океан со снежными холмами и красивым закатом
        </h1>
        <span class="card__author">Автор: Roman</span>

        <div class="card__quality">
          <label class="checkbox">
            <input
              class="checkbox__input"
              type="radio"
              name="качество"
              checked
            />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              4K<small> 4KMP4 (h264) - 28,9 MB</small>
            </span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="radio" name="качество" />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              HD <small>HDMOV (mjpeg) - 54,2 MB</small>
            </span>
          </label>
        </div>

        <div class="card__btns">
          <a class="card__btn btn" href="#" download="img/card-img.jpg"
            >Скачать</a
          >
          <button class="card__btn-fav" type="button">В коллекцию</button>
          <button class="card__btn-share" type="button" aria-label="Поделиться">
            <svg>
              <use xlink:href="img/sprite.svg#share-2"></use>
            </svg>
          </button>
        </div>
        <ul class="card-spec">
          <li class="card-spec__item">
            <div class="card-spec__left">Видео ID</div>
            <div class="card-spec__right">614684</div>
          </li>
          <li class="card-spec__item">
            <div class="card-spec__left">Разрешение</div>
            <div class="card-spec__right">3840 x 2160</div>
          </li>
          <li class="card-spec__item">
            <div class="card-spec__left">Длина</div>
            <div class="card-spec__right">00:13</div>
          </li>
          <li class="card-spec__item">
            <div class="card-spec__left">Частота кадров</div>
            <div class="card-spec__right">30</div>
          </li>
          <li class="card-spec__item">
            <div class="card-spec__left">Камера</div>
            <div class="card-spec__right">Mavic Air 2</div>
          </li>
          <li class="card-spec__item">
            <div class="card-spec__left">Доступные форматы</div>
            <div class="card-spec__right">HD, UHD HQ, UHD, LOG</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
