<section class="categories">
  <div class="container">
    <h2 class="categories__title section-title">Выбери свою категорию</h2>

    <ul class="categories__list">
      <li class="categories__item">
        <a class="categories__link" href="#">
          <picture>
            <source srcset="img/categories/1.webp" type="image/webp" />
            <img src="img/categories/1.jpg" alt="img" />
          </picture>
          <span class="categories__name">Стартап</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <picture>
            <source srcset="img/categories/2.webp" type="image/webp" />
            <img src="img/categories/2.jpg" alt="img" />
          </picture>
          <span class="categories__name">Инновации</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <picture>
            <source srcset="img/categories/3.webp" type="image/webp" />
            <img src="img/categories/3.jpg" alt="img" />
          </picture>
          <span class="categories__name">Жизнь в замедлении</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <picture>
            <source srcset="img/categories/4.webp" type="image/webp" />
            <img src="img/categories/4.jpg" alt="img" />
          </picture>
          <span class="categories__name">Своими глазами</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <picture>
            <source srcset="img/categories/5.webp" type="image/webp" />
            <img src="img/categories/5.jpg" alt="img" />
          </picture>
          <span class="categories__name">Кулинария</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <picture>
            <source srcset="img/categories/6.webp" type="image/webp" />
            <img src="img/categories/6.jpg" alt="img" />
          </picture>
          <span class="categories__name">Городская среда</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <picture>
            <source srcset="img/categories/7.webp" type="image/webp" />
            <img src="img/categories/7.jpg" alt="img" />
          </picture>
          <span class="categories__name">Животные</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <picture>
            <source srcset="img/categories/8.webp" type="image/webp" />
            <img src="img/categories/8.jpg" alt="img" />
          </picture>
          <span class="categories__name">Производство</span>
        </a>
      </li>
    </ul>
  </div>
</section>
