<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h1 class="faq__title section-title">Вопросы - ответы</h1>
      <p class="faq__text">Ответы на часто - задаваемые вопросы</p>

      <div class="faq__tabs faq-tabs">
        <div class="faq-tabs__top">
          <ul class="faq-tabs__list">
            <li class="faq-tabs__item">
              <button class="faq-tabs__btn active" type="button">Видео</button>
            </li>
            <li class="faq-tabs__item">
              <button class="faq-tabs__btn" type="button">Фото</button>
            </li>
            <li class="faq-tabs__item">
              <button class="faq-tabs__btn" type="button">Музыка</button>
            </li>
          </ul>
        </div>
        <div class="faq-tabs__content active">
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq-tabs__content">
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq-tabs__content">
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как оплатить подписку для неограниченного скачивания видео?

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
