<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <a class="footer__logo" href="index.html">
          <img src="img/logo-gray.png" alt="logo" />
        </a>
        <p class="footer__text">
          Наша миссия - дать возможность создателям по всему миру рассказывать
          свои истории с помощью фото и видео. Мы предоставляем возможности
          креативной индустрии с помощью мощного программного обеспечения для
          редактирования видео, профессиональных цифровых ресурсов для создания
          видео и доступных учебных ресурсов, которые помогут вам в достижении
          вашего видения.
        </p>
      </div>
      <div class="footer__right">
        <div class="footer__col">
          <span class="footer__name">Наши продукты</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Видео</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Фотографии</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Музыка</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">О нас</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О сервисе </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Цены</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Стать автором</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Клиентам</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Вопросы - ответы </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Техподдержка</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Авторская лицензия</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Контакты</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">info@roman.com </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">
        © 2023. hronicca — Творческие ресурсы. Все права защищены.
      </div>
      <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
        <span>Разработка сайта</span>
        <img src="img/logo-company.png" alt="АдвансМедиа" />
      </a>
    </div>
  </div>
</footer>
