<header class="header header--account">
  <div class="container">
    <nav class="header__wrapper">
      <div class="header__left">
        <a class="header__logo" href="#">
          <img src="img/logo.png" alt="logo" />
        </a>

        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#"> Видео </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#"> Фото </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#"> Музыка </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__right">
        <button class="header__btn btn btn-reg" type="button">
          Попробовать бесплатно
        </button>
        <button class="header__btn-prices btn-prices" type="button">
          <svg>
            <use xlink:href="img/sprite.svg#wallet"></use>
          </svg>
          Цены
        </button>
        <button class="header__acc" type="button">
          <img src="img/user-img.jpg" alt="user" />
          <span>Roman</span>

          <div class="user-dropdown">
            <ul class="user-dropdown__list">
              <li class="user-dropdown__item">
                <a class="user-dropdown__link" href="#">Мой аĸĸаунт</a>
              </li>
              <li class="user-dropdown__item">
                <a class="user-dropdown__link" href="#">Мои файлы</a>
              </li>
              <li class="user-dropdown__item">
                <a class="user-dropdown__link" href="#">Выйти</a>
              </li>
            </ul>
          </div>
        </button>
        <button
          class="header__toggle header__toggle--anim"
          type="button"
          aria-label="Открыть меню"
        >
          <span class="header__toggle-line"></span>
        </button>
      </div>
    </nav>
  </div>
</header>
