<section class="photo">
  <div class="container">
    <div class="photo__wrapper">
      <div class="photo__top photo-filter">
        <ul class="photo-filter__list">
          <li class="photo-filter__item">
            Соотношение сторон

            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>

            <div class="select-dropdown">
              <div class="select-dropdown__inner">
                <label class="checkbox">
                  <input
                    class="checkbox__input"
                    type="radio"
                    name="соотношение"
                    checked
                  />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text"> Горизонтальные </span>
                </label>
                <label class="checkbox">
                  <input
                    class="checkbox__input"
                    type="radio"
                    name="соотношение"
                  />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text"> Вертикальные </span>
                </label>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="photo__accordions">
        <div class="filter-accordion accordion">
          <button
            class="filter-accordion__control accordion-control-btn"
            type="button"
          >
            Соотношение сторон

            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </button>

          <div class="filter-accordion__content accordion-content">
            <div class="filter-accordion__inner">
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  type="radio"
                  name="соотношение"
                  checked
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Горизонтальные </span>
              </label>
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  type="radio"
                  name="соотношение"
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Вертикальные </span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <ul class="photo__list">
        <li class="photo-item">
          <picture>
            <source srcset="img/video/1.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/1.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/2.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/2.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/3.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/3.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/4.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/4.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/5.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/5.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/6.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/6.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/7.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/7.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/8.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/8.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/1.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/1.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/2.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/2.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/3.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/3.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/4.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/4.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/5.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/5.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/6.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/6.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/7.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/7.jpg" alt="video" />
          </picture>
        </li>
        <li class="photo-item">
          <picture>
            <source srcset="img/video/8.webp" type="image/webp" />
            <img class="photo-item__img" src="img/video/8.jpg" alt="video" />
          </picture>
        </li>
      </ul>

      <ul class="pagination">
        <li class="pagination__item">
          <button class="pagination__btn pagination__btn--prev">
            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
            Назад
          </button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn active">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn">2</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn">3</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn">4</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn">5</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn pagination__btn--next">
            Далее
            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
