<section class="prices">
  <div class="container">
    <h2 class="prices__title section-title">Наши цены</h2>

    <ul class="prices__list">
      <li class="prices-item">
        <div class="prices-item__top">
          <div class="prices-item__head">
            <h3 class="prices-item__title">Кадры</h3>
            <p class="prices-item__text">HD-кадры</p>
          </div>

          <div class="prices-item__choose">
            <div class="prices-item__price"><span>590</span> ₽/мес</div>
            <p class="prices-item__text">Выставляется ежегодно</p>
            <button class="prices-item__btn btn" type="button">Выбрать</button>
          </div>
        </div>
        <div class="prices-item__info">
          <p class="prices-item__descr">
            Охватывает все от личного до коммерческого использования
          </p>
          <div class="prices-item__bottom">
            <span class="prices-item__name">План включает в себя</span>
            <ul class="prices-item__list">
              <li class="prices-item__item">Footage</li>
              <li class="prices-item__item">Format H.264</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="prices-item">
        <div class="prices-item__top">
          <div class="prices-item__head">
            <h3 class="prices-item__title">Кадры и шаблоны</h3>
            <p class="prices-item__text">4К - 8К</p>
          </div>

          <div class="prices-item__choose">
            <div class="prices-item__price"><span>690</span> ₽/мес</div>
            <p class="prices-item__text">Выставляется ежегодно</p>
            <button class="prices-item__btn btn" type="button">Выбрать</button>
          </div>
        </div>
        <div class="prices-item__info">
          <p class="prices-item__descr">
            Охватывает все от личного до коммерческого использования
          </p>
          <div class="prices-item__bottom">
            <span class="prices-item__name">План включает в себя</span>
            <ul class="prices-item__list">
              <li class="prices-item__item">Footage до 8K</li>
              <li class="prices-item__item">ProRes/DNxHR</li>
              <li class="prices-item__item">Видео</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="prices-item">
        <div class="prices-item__top">
          <div class="prices-item__head">
            <h3 class="prices-item__title">Видеоматеориалы и шаблоны Pro</h3>
            <p class="prices-item__text">
              4K-8K RAW / видеозапись и шаблоны видео
            </p>
          </div>
          
          <div class="prices-item__choose">
            <div class="prices-item__price"><span>790</span> ₽/мес</div>
            <p class="prices-item__text">Выставляется ежегодно</p>
            <button class="prices-item__btn btn" type="button">Выбрать</button>
          </div>
        </div>
        <div class="prices-item__info">
          <p class="prices-item__descr">
            Охватывает все от личного до коммерческого использования
          </p>
          <div class="prices-item__bottom">
            <span class="prices-item__name">План включает в себя</span>
            <ul class="prices-item__list">
              <li class="prices-item__item">Footage до 8К</li>
              <li class="prices-item__item">RAW/LOG footage</li>
              <li class="prices-item__item">ProRes/DNxHR format</li>
              <li class="prices-item__item">Видео шаблоны</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
