<section class="subscribe">
  <video class="video" src="img/video2.webm" autoplay muted loop></video>
  <div class="container">
    <div class="subscribe__offer">
      <h2 class="subscribe__title section-title">
        Присоединяйтесь к миллионам создателей по всему миру
      </h2>

      <p class="subscribe__text">Одна подписка — неограниченные возможности</p>

      <button class="subscribe__btn btn" type="button">
        Попробовать бесплатно
      </button>
    </div>
  </div>
</section>
