<section class="works">
  <div class="container">
    <h2 class="works__title section-title">
      Посмотрите удивительные работы <br />
      наших авторов
    </h2>

    <!-- ! NEW -->

    <div class="works__content">
      <ul class="works__row">
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/1.webp" type="image/webp" />
                <img src="img/works/1.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/2.webp" type="image/webp" />
                <img src="img/works/2.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/3.webp" type="image/webp" />
                <img src="img/works/3.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/4.webp" type="image/webp" />
                <img src="img/works/4.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/5.webp" type="image/webp" />
                <img src="img/works/5.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/6.webp" type="image/webp" />
                <img src="img/works/6.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/7.webp" type="image/webp" />
                <img src="img/works/7.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/8.webp" type="image/webp" />
                <img src="img/works/8.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/9.webp" type="image/webp" />
                <img src="img/works/9.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/10.webp" type="image/webp" />
                <img src="img/works/10.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/11.webp" type="image/webp" />
                <img src="img/works/11.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works-card">
            <div class="works-card__img">
              <picture>
                <source srcset="img/works/12.webp" type="image/webp" />
                <img src="img/works/12.jpg" alt="" />
              </picture>
            </div>
            <div class="works-card__inner">
              <ul class="works-card__list">
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="rectangle-history"
                      class="svg-inline--fa fa-rectangle-history fa-1x"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M512 448C512 483.3 483.3 512 448 512H64C28.65 512 0 483.3 0 448V224C0 188.7 28.65 160 64 160H448C483.3 160 512 188.7 512 224V448zM440 80C453.3 80 464 90.75 464 104C464 117.3 453.3 128 440 128H72C58.75 128 48 117.3 48 104C48 90.75 58.75 80 72 80H440zM392 0C405.3 0 416 10.75 416 24C416 37.25 405.3 48 392 48H120C106.7 48 96 37.25 96 24C96 10.75 106.7 0 120 0H392z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </a>
                </li>
                <li class="works-card__item">
                  <a class="works-card__btn" href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#download"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="works-card__name">Женщина смотрит в ĸамеру</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="works__bottom">
      <button class="works__more btn btn--border" type="button">
        Открыть больше

        <svg>
          <use xlink:href="img/sprite.svg#chevron"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
